.product_description {
	width: 100%;
	height: auto;
}

.product_description_copy {
	margin: 10vh auto;
	width: 75vw;
	max-width: 900px;
}

.product_description_copy p {
	font-size: 12px;
	line-height: 2em;
	letter-spacing: 3px;
}

@media screen and (max-width:414px) {
	.product_description_copy {
		margin: 7.5% auto;
		width: 85%;
	}
}