html,body{
	width: 100vw;
	height: 100vh;
	/* Use vh as a fallback for browsers that do not support Custom Properties
	height: calc(var(--vh, 1vh) * 100);*/
	background:#031421;
	margin:0;
	padding:0;
	overflow: hidden;
	position: relative;
}

h1 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
}

h2 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
}

h3 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
}

li {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}


@media screen and (max-width:812px){
}
