html,body{
	width: 100vw;
	height: 100vh;
	/* Use vh as a fallback for browsers that do not support Custom Properties
	height: calc(var(--vh, 1vh) * 100);*/
	background: /*#031421*/ #000000;
	margin:0;
	padding:0;
	position: relative;
}

body#index {
	overflow: hidden;
}

h1 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-weight: 100;
}

h2 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 3px;
}

h3 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
}

li {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

h1.index_title {
	font-size: 48px;
}

p.index_copy {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-size: 36px;
	line-height: 1.75em;
	letter-spacing: 2px;
}

.main_nav {
	position: fixed;
	top: 50%;
	left:30px;
	transform: translate(-50%, -50%) rotate(-90deg);
	z-index: 100;
}

ul.nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline-block;
	padding-right: 50px;
	letter-spacing: 3px;
	font-weight: 200;
	font-size: 12px;
	opacity: 0.7;
	cursor: pointer; 
}

.nav li:last-child {
	padding-right: 0;
}

.nav li .active {
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
	opacity: 1;
	font-weight: 400;
}

body#index a#contact.active, body#index a#work.active {
	font-weight: 200;
	opacity: 0.7;
	border: none;
}

.main_body {
	width: 100%;
	height: 100%;
	position: relative;
}

.hero_body {
	position: absolute;
	width: 66.666vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#contact .hero_body {
	display: flex;
	justify-content: space-around;
}

/*// Work Items //*/

.work_body {
	width: 100%;
	height: 100%;
}

.project {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.project:nth-child(2) {
	top: -33.333vh;
}

.project:nth-child(3) {
	top: -66.666vh;
}

.project:nth-child(4) {
	top: -100vh;
}

.project:nth-child(5) {
	top: -133.333vh;
}

.work_item_image {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}

.work_item_image::after {
	content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-size: cover;
    transform-origin: center;
    transition: transform 200ms ease-in-out; 
}

.work_item_image:hover::after {
	transform: scale(1.05); 
}

.thumb-overlay {
	opacity: 0;
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
	transition: transform 200ms ease-in-out;
}

.thumb-overlay:hover {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:812px){
}
