@import url(/css/product_description.css);
@import url(/css/image_full_width.css);
@import url(/css/image_medium.css);
@import url(/css/web_demo.css);
@import url(/css/video.css);
@import url(/css/carousel.css);

html {
	width: 100%;
	height: 100%;
	/* Use vh as a fallback for browsers that do not support Custom Properties
	height: calc(var(--vh, 1vh) * 100);*/
	background: /*#031421*/ #000000;
	margin:0;
	padding:0;
	position: relative;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body#index {
	overflow: hidden;
}

body#work{
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
}

h1 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-weight: 100;
}

h2 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 3px;
}

h3 {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
}

p {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

li {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}

.index_logo {
	position: fixed;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

    z-index: 1;
}

.mobile_menu, .mobile_nav {
	display: none;
}

h1.index_title {
	font-size: 48px;
	margin: 0;
}

p.index_copy {
	font-family: 'EB Garamond', serif;
	color: #ffffff;
	font-size: 36px;
	line-height: 1.75em;
	letter-spacing: 2px;
}

.main_nav {
	position: fixed;
	top: 50%;
	left:30px;
	transform: translate(-50%, -50%) rotate(-90deg);
	-webkit-transform: translate(-50% , -50%) rotate(-90deg);
    -moz-transform: translate(-50% , -50%) rotate(-90deg);
    -ms-transform: translate(-50% , -50%) rotate(-90deg);
    -o-transform: translate(-50% , -50%) rotate(-90deg);
	z-index: 100;
}

ul.nav {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav li {
	display: inline-block;
	padding-right: 50px;
	letter-spacing: 3px;
	font-weight: 200;
	font-size: 12px;
	cursor: pointer; 
	text-transform: uppercase;
}

.nav li:last-child {
	padding-right: 0;
}

.nav li:hover {
	font-weight: 600;
}

.nav li .active {
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
	opacity: 1;
	font-weight: 400;
}

.nav li a {
	text-shadow: 0px 0px 1.5px #000000;
	opacity: 0.8;
}

.nav li:hover a {
	opacity: 1;
}

body#index a#contact.active, body#index a#work.active {
	font-weight: 200;
	opacity: 0.8;
	border: none;
}

body#index a#contact.active:hover, body#index a#work.active:hover {
	font-weight: 600;
	opacity: 1;
	border: none;
}

.bartender {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.bar {
	height: 20%; width: 100%;
	background-color: white;
	animation-name: tend;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
	transform: translate(-100%);
	animation-play-state: paused;
}

.bar:nth-child(2) {
	animation-delay: 100ms;
}
.bar:nth-child(3) {
	animation-delay: 200ms;
}
.bar:nth-child(4) {
	animation-delay: 300ms;
}
.bar:nth-child(5) {
	animation-delay: 400ms;
}

@keyframes tend {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

.main_body {
	width: 100%;
	height: 100%;
	position: inherit;
}

.hero_body {
	position: absolute;
	width: 66.666vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

#contact .hero_body {
	display: flex;
	justify-content: space-around;
}

.link_container {
	flex: 0 0 33.333%;
	text-align: center;
}

#contact h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 600ms ease-in-out;
}

#contact h2:hover {
	letter-spacing: 6px;
}

/*// Work Items //*/

.work_body {
	width: 100%;
	height: 100%;
}

.project {
	width: 100vw;
	height: 100vh;
	position: relative;
}

/*
.project:first-child {
	margin-top: 20vh;
}

.project:last-child {
	margin-bottom: 20vh;
}

*/

.work_item_thumb {
	width: 66.666%;
	padding-top: 44.444%;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
	border: none;
	overflow: hidden;
	transition: all 600ms;
}

.work_item_thumb:hover {
	width: calc(66.666% - 40px);
	padding-top: calc(44.444% - 40px);
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.work_item_image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%); 
}

.work_item_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
	transition: all 600ms ease-in-out;
}

.work_item_thumb:hover .work_item_image img {
	width: 130%;
	height: 130%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.thumb-overlay {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 600ms;
	box-sizing: border-box;
}

.thumb-overlay h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
	margin: 0;
	letter-spacing: 2px;
	transition: all 600ms ease-in-out;
	text-align: center;
}

.work_item_thumb:hover .thumb-overlay h2 {
	letter-spacing: 6px;
}

.work_item_thumb:hover .thumb-overlay {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

.work_hero_body {
	position: absolute;
    width: 100vw;
    left: 0;
    height: 100vh;
    top: 0;
}

.work_hero {
	/*background-image: url(https://source.unsplash.com/1200x900);*/
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	position: relative;
}

.work_hero_title {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    padding: 45px 90px;
    border: 5px solid #ffffff;
}

.work_hero_title h1 {
	letter-spacing: 3px;
	font-size: 60px;
	margin: 0;
	text-align: center;
}

.work_1 {
	width: 100%;
	height: auto;
	height: fit-content;
}

.work_2 {
	background-size: cover;
	background-position: center;
}

.work_copy {
	width: 66.666%;
	margin: 15% auto;
	max-width: 900px;
	text-align: center;
}

.work_2 .work_copy {
	width: 100%;
	margin: 5% auto;
	max-width: 100%;
}

.work_2 img {
	width: 100%;
	max-width: 100%;
}

.work_copy p {
	font-size: 27px;
	letter-spacing: 1px;
	line-height: 2em;
	font-weight: 100;
	text-align: left;
}

.work_1 .work_copy img {
	max-width: 100%;
	max-height: 70vh;
}

.work_1.ipad {
	max-width: 100%;
	height: 100vh;
	position: relative;
}

.work_ipad_1, .work_ipad_1_2 {
	width: 60%;
    border-radius: 22px;
    padding-top: 42%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    opacity: 1;
    transition: 500ms ease-in-out;
    transition-delay: 1000ms;
}

.work_ipad_2 {
	width: 96.3%;
    padding-top: 66.4%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    border-radius: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    overflow: hidden;
    transition: 500ms ease-in-out;
    transition-delay: 500ms;
}

.work_ipad_3 {
	width: 99%;
    border-radius: 5px;
    padding-top: 68%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: 500ms ease-in-out;
}

.work_ipad_1.off, .work_ipad_1_2.off {
	width: 21%;
    border-radius: 22px;
    padding-top: 42%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    opacity: 1;
    transition: 500ms ease-in-out;
}

.off .work_ipad_2 {
	width: 89.3%;
    padding-top: 190%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    border-radius: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.off .work_ipad_3 {
	opacity: 0;
	width: 0%;
	transition-delay: 1000ms;
}

.work_ipad_4 {
	opacity: 0;
	width: 0%;
	transition: 250ms ease-in-out;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.off .work_ipad_4 {
	opacity: 1;
	width: 97%;
    border-radius: 5px;
    padding-top: 210%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    overflow: hidden;
    background-size: cover;
    background-position: top;
    transition: 500ms ease-in-out;
    transition-delay: 1000ms;
}

/*
.work_ipad_1.off {
	opacity: 0;
	transition: 500ms ease-in-out;

}

.work_iphone_1.off {
	opacity: 0;
	transition: 500ms ease-in-out;
}

.work_iphone_1 {
	width: 21%;
    border-radius: 22px;
    padding-top: 42%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    opacity: 1;
    transition: 500ms ease-in-out;
}

.work_iphone_2 {
	width: 89.3%;
    padding-top: 190%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    border-radius: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}

.work_iphone_3 {
	width: 97%;
    border-radius: 5px;
    padding-top: 210%;
    border: 1px solid white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    overflow: hidden;
    background-size: cover;
    background-position: top;
}
*/

.toggle_btn, .toggle_btn_2 {
	text-align: center;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	font-size: 12px;
	opacity: 0.8;
	bottom: 7.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
	letter-spacing: 3px;
	transition: 500ms ease-in-out;
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

.toggle_btn:hover, .toggle_btn_2:hover {
	letter-spacing: 6px;
	opacity: 1;
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
}

.toggle_btn .dsk, .toggle_btn_2 .dsk, .active .mob {
	display: none;
}

.active .dsk {
	display: block;
}

.work_2.video {
	position: relative;
	min-height: 100vh;
}

#myVideo {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:414px) {

	.index_logo {
		left: 50%;
		top: 0;
		height: 75px;
		width: 100%;
		background-color: #000000;
		z-index: 2;
	}

	h1.index_title {
		font-size: 30px;
		position: fixed;
		top: 15px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	}

	.main_nav {
		display: none;
	}

	.mobile_menu {
		display: block;
		position: fixed;
		top: 20px;
		right: 7.5%;
	}

	.mobile_nav {
		display: block;
		height: 0px;
		overflow: hidden;
		background-color: #000000;
		text-align: center;
		margin: 0;
		padding: 0;
		transition: 500ms ease-in-out;
	}

	.line1, .line2, .line3 {
		margin-top:5px;
		background-color:#fff;
		width:25px;
		height: 2px;
		display:block;
		position:relative;
		opacity:1.0;
		border-radius:15%;
		transition: all .3s;
	}

	.is-active .line1 {
	  transform: rotate(270deg);
	  opacity:0.0;
	  top:5px;
	}

	.is-active .line2 {
	  transform: rotate(45deg);
	}

	.is-active .line3 {
	  transform: rotate(-45deg);
	  top:-7px;
	}

	.mobile_nav.expand {
		display: block;
		height: 100vh;
		overflow: hidden;
	}

	.mobile_dropdown {
		list-style: none;
		opacity: 0;
		margin: 0;
		padding: 0;
		position: relative;
		top: 75px;
		bottom: 50%;
		display: flex;
		flex-direction: column;
		height: calc(100% - 75px - 50%);
		transition-delay: 500ms;
		transition: 500ms ease-in-out;
	}

	.mobile_nav.expand .mobile_dropdown {
		opacity: 1;
	}

	.mobile_dropdown li {
		flex: 1 1 100%;
		position: relative;
		box-sizing: border-box;
		border-top: 1px solid #ffffff;
		width: 85%;
		margin: 0 auto;
	}

	.mobile_dropdown li:last-child {
		border-bottom: 1px solid #ffffff;
	}

	.mobile_dropdown li a {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50% , -50%);
	    -moz-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	    -o-transform: translate(-50% , -50%);
		font-size: 21px;
		letter-spacing: 4px;
		font-weight: 100;
	}

	.hero_body {
		width: 75vw;
	}

	p.index_copy {
		font-size: 24px;
		line-height: 1.25em;
	}

	.work_body {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		margin: 75px 0 30px;
	}

	.project:first-child {
		margin-top: 0;
	}

	.project:last-child {
		margin-bottom: 0;
	}

	.project {
		position: inherit;
		margin: 0 0 30px 0;
		height: auto;
	}

	.work_item_thumb {
		position: relative;
		width: 85%;
		padding-top: 66.666%;
		overflow: hidden;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	}

	.work_item_image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.work_item_image img {
		width: 140%;
	}

	.thumb-overlay {
		opacity: 1;
		width: 90%;
		height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50% , -50%);
	    -moz-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	    -o-transform: translate(-50% , -50%);
		border: 2px solid #ffffff;
		background-color: rgba(0,0,0,0.5);
	}

	.thumb-overlay h2 {
		width: 100%;
		text-align: center;
		font-size: 21px;
	}

	#contact .hero_body {
		flex-direction: column;
	}

	#project .index_logo {
		background: transparent;
	}

	.work_copy {
		width: 85%;
	}

	.work_copy p {
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 2em;
		font-weight: 100;
		text-align: left;
	}

	.work_hero_title {
		padding: 20px 30px;
		width: 65%;
	}

	.work_hero_title h1 {
		font-size: 30px;
		text-align: center;
	}

	.work_2 {
		min-height: auto;
	}

	.work_2.video {
		height: 30%;
	}

	/*
	.work_ipad_1.off {
		opacity: 1;
		transition: 500ms ease-in-out;

	}

	.work_iphone_1.off {
		opacity: 1;
		transition: 500ms ease-in-out;
	}

	*/

	.work_ipad_1.off, .work_ipad_1_2.off {
		width: 75%;
		padding-top: 150%;
	    border-radius: 20px;
	}

	.work_ipad_1, .work_ipad_1_2 {
		width: 85%;
	    padding-top: 60%;
	    border-radius: 15px;
	}

	.work_ipad_3 {
		border-radius: 6px;
	}

	/*

	.work_iphone_1 {
		opacity: 0;
		width: 75%;
		padding-top: 150%;
	}
	*/
}
