.web_demo {
	height: 100%;
	width: 100%;
	position: relative;
}

.size_toggle {}

.border_1 {
	width: 60%;
	border-radius: 22px;
	padding-top: 42%;
	border: 1px solid white;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	opacity: 1;
	transition: 500ms ease-in-out;
	transition-delay: 1000ms;
}

.border_1.off {
	width: 21%;
	border-radius: 22px;
	padding-top: 42%;
	border: 1px solid white;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    transition: 500ms ease-in-out;
}

.border_2 {
	width: 96.3%;
	padding-top: 66.4%;
	border: 1px solid white;
	box-sizing: border-box;
	position: absolute;
	border-radius: 9px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	overflow: hidden;
	transition: 500ms ease-in-out;
	transition-delay: 500ms;
}

.off .border_2 {
	width: 89.3%;
	padding-top: 190%;
	border-radius: 9px;
}

.landscape_border {
	width: 99%;
	border-radius: 5px;
	padding-top: 67.5%;
	border: 1px solid white;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ffffff;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	overflow: hidden;
	transition: 500ms ease-in-out;
}

.off .landscape_border {
	opacity: 0;
	width: 0%;
	transition-delay: 1000ms;
}

.portrait_border {
	opacity: 0;
	width: 0%;
	transition: 250ms ease-in-out;
	position: absolute;
	background-color: #ffffff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
}

.off .portrait_border {
	opacity: 1;
	width: 97%;
	border-radius: 5px;
	padding-top: 210%;
	border: 1px solid white;
	box-sizing: border-box;
}

.landscape_border img, .off .portrait_border img {
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 500ms ease-in-out;
}

.portrait_border img {
	opacity: 0;
	height: 0;
	width: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	object-fit: cover;
	transition: 500ms ease-in-out;
}

.off .landscape_border img {
	opacity: 0;
}

.toggle {
	text-align: center;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	font-size: 12px;
	opacity: 0.8;
	bottom: 7.5%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	letter-spacing: 3px;
	transition: 500ms ease-in-out;
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
	cursor: pointer;
}

.toggle:hover {
	letter-spacing: 6px;
	opacity: 1;
	padding-bottom: 5px;
	border-bottom: 2px solid #ffffff;
}

.toggle .dsk, .active .mob {
	display: none;
}

.active .dsk {
	display: block;
}