---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	{% include head.html %}	
</head>
<body id="index">
	<div class="main_body">
		{% include nav.html %}
		<div class="hero_body">
			<h1 class="index_title">Maxim Smith</h1>
			<p class="index_copy">I am a New York based art director, web developer, and e-commerce and marketing consultant with 10 years experience in fashion and luxury goods. My skills include; graphic design, branding, front-end web development, film, photography, animation and digital media management.</p>
		</div>
	</div>
<script>window.viewportUnitsBuggyfill.init();</script>
</body>
</html>
