---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	{% include head.html %}
</head>
<body id="work">
	<div class="main_body">
		{% include nav.html %}
		<div class="work_body">
			{% for project in site.data.settings.projects %}
			<div for="{{ project.folder }}" class="project" data-url="{{ site.github.url }}/work/{{ project.folder }}/">
				<a href="/{{ project.folder }}.html">
					<div class="work_item_image" style="background-image: url({{ site.github.url }}/assets/images/work/{{project.folder}}/thumb.jpg);"></div>
					<div class="thumb-overlay">
						<strong>{{ project.name }}</strong>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
<script>window.viewportUnitsBuggyfill.init();</script>
</body>
</html>
