<div class="carousel">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="/assets/images/work/{{project.folder}}/thumb.jpg">
			</li>
			<li>
				<img src="/assets/images/work/{{project.folder}}/thumb.jpg">
			</li>
			<li>
				<img src="/assets/images/work/{{project.folder}}/thumb.jpg">
			</li>
			<li>
				<img src="/assets/images/work/{{project.folder}}/thumb.jpg">
			</li>
			<li>
				<img src="/assets/images/work/{{project.folder}}/thumb.jpg">
			</li>
		</ul>
	</div>
</div>