<nav class="main_nav">
	<ul class="nav">
		<li><a id="work" class="" href="/work.html">WORK</a></li>
		<li><a id="index" class="" href="/">ABOUT</a></li>
		<li><a id="contact" class="" href="/contact.html">CONTACT</a></li>
	</ul>
</nav>
<div class="index_logo">
	<h1 class="index_title"><a id="index" class="" href="/">{{ site.data.settings.title }}</a></h1>
	<div class="mobile_menu" id="closebtn" onclick="navToggle()">
      <span class="line1"></span>
      <span class="line2"></span>
      <span class="line3"></span>
  </div>
  <div class="mobile_nav">
	  <ul class="mobile_dropdown">
			<li><a id="work" class="" href="/work.html">WORK</a></li>
			<li><a id="index" class="" href="/">ABOUT</a></li>
			<li><a id="contact" class="" href="/contact.html">CONTACT</a></li>
		</ul>
	</div>
</div>