<nav class="main_nav">
	<ul class="nav">
		{% assign pages_list = site.pages %}
  		{% assign group = 'navigation' %}
		{% include pages_list.html %}
	</ul>
</nav>
<div class="index_logo">
	<h1 class="index_title"><a id="index" class="" href="/">{{ site.data.settings.title }}</a></h1>
	<div class="mobile_menu" id="closebtn">
      <span class="line1"></span>
      <span class="line2"></span>
      <span class="line3"></span>
  </div>
  <div class="mobile_nav">
	  <ul class="mobile_dropdown">
			{% assign pages_list = site.pages %}
	  		{% assign group = 'navigation' %}
			{% include pages_list.html %}
		</ul>
	</div>
</div>