---
layout: page
title: project
---

{% for project in site.data.settings.project-7 %}
<div class="work_hero_body">
	<div class="work_hero" style="background-image: url(/assets/images/work/{{project.folder}}/thumb.jpg);">
		<div class="work_hero_title">
			<h1>{{ project.name }}</h1>
		</div>
	</div>

	{% include product_description.html %}

	{% include image_full_width.html %}

	{% include image_medium.html %}

	{% include carousel.html %}

	{% include web_demo.html %}

	{% include video.html %}

</div>
{% endfor %}