---
layout: page
title: project
---

{% for project in site.data.settings.project-1 %}
<div class="work_hero_body">
	<div class="work_hero" style="background-image: url(/assets/images/work/{{project.folder}}/thumb.jpg);">
		<div class="work_hero_title">
			<h1>{{ project.name }}</h1>
		</div>
	</div>
	<div class="work_1">
		<div class="work_copy">
			{{ project.description }}
		</div>
	</div>
	<!-- IMG start -->
	<div class="web_demo">
		<div class="size_toggle">
			<div class="border_1">
				<div class="border_2">
					<div class="landscape_border">
						<img src="/assets/images/work/{{project.folder}}/min_1.jpg">
					</div>
					<div class="portrait_border">
						<img src="/assets/images/work/{{project.folder}}/min_1_1.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- IMG start -->
	<div class="web_demo">
		<div class="size_toggle">
			<div class="border_1">
				<div class="border_2">
					<div class="landscape_border">
						<img src="/assets/images/work/{{project.folder}}/min_6.jpg">
					</div>
					<div class="portrait_border">
						<img src="/assets/images/work/{{project.folder}}/min_6_1.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- IMG start -->
	<div class="web_demo">
		<div class="size_toggle">
			<div class="border_1">
				<div class="border_2">
					<div class="landscape_border">
						<img src="/assets/images/work/{{project.folder}}/min_2.jpg">
					</div>
					<div class="portrait_border">
						<img src="/assets/images/work/{{project.folder}}/min_2_2.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Carousel -->
	{% include min.carousel.html %}
	<!-- IMG start -->
	<div class="work_2">
		<div class="work_copy">
			<img src="/assets/images/work/{{project.folder}}/min_4.jpg">
		</div>
	</div>
	<!-- IMG start -->
	<div class="work_2">
		<div class="work_copy">
			<img src="/assets/images/work/{{project.folder}}/min_3.jpg">
		</div>
	</div>
	<!-- IMG start -->
	<div class="work_2">
		<div class="work_copy">
			<img src="/assets/images/work/{{project.folder}}/min_5.jpg">
		</div>
	</div>
</div>
{% endfor %}